/*
   ____ ____  ____  
 / ___/ ___|/ ___| 
| |   \___ \\___ \ 
| |___ ___| |___||
\____|____/|____/

*/

/*=== Global Settings ===*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #474747;
}

header {
    background-color: #333333;
    padding: 20px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    border-radius: 15px;
}

footer {
    position: fixed;
    background-color: #333333;
    left: 0;
    bottom: 0;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
    width: calc(100% - 30px);
    color: white;
    text-align: center;
    border-radius: 15px;
}

/*=== Always assigned ===*/

h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

/*=== Classes ===*/

.join-content {
    text-align: end;
    font-size: 15px;
}

.text-center {
    text-align: center;
}

.title-left-bottom {
    position: absolute;
    font-size: 35px;
    bottom: 110px;
    left: 120px;
}