/*
   ____ ____  ____  
 / ___/ ___|/ ___| 
| |   \___ \\___ \ 
| |___ ___) |___)|
\____|____/|____/

*/

/*=== Global Styles ===*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #474747;
}

header {
    background-color: #333333;
    padding: 20px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    border-radius: 15px;
}

/*=== Always assigned ===*/

h1 {
    color: #ffffff;
}

/*=== Classes ===*/

.join-content {
    margin-left: 700px;
    font-size: 25px;
}

.text-center {
    text-align: center;
}